---
import ArchivePanel from '@components/ArchivePanel.astro'
import SideBar from '@components/widget/SideBar.astro'
import I18nKey from '@i18n/i18nKey'
import { i18n } from '@i18n/translation'
import MainGridLayout from '@layouts/MainGridLayout.astro'
---
<!-- 归档 -->

<MainGridLayout title={i18n(I18nKey.archive)} >
  <SideBar class="row-start-3 row-end-4 col-span-2 lg:row-start-2 lg:row-end-3 lg:col-span-1 lg:max-w-[17.5rem] onload-animation" />
  <div id="content-wrapper" class="row-start-2 row-end-3 col-span-2 lg:col-span-1 overflow-hidden onload-animation">
  <main id="swup-container" class="transition-swup-fade">      
    <ArchivePanel></ArchivePanel>
  </main>
</div>
</MainGridLayout>

<!-- <MainGridLayout title={i18n(I18nKey.archive)}>
  
    <ArchivePanel></ArchivePanel>
</MainGridLayout> -->

